.btn {
  max-width: 288px;
  width: 100%;
  height: 56px;
  border-radius: 128px;
  background-color: rgba(48, 59, 89, 1);
  font-weight: 700;
  font-size: 18px;
  color: white;
  border: 0px;
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  background-color: rgba(119, 85, 255, 1);
}

.heading {
  color: rgba(48, 59, 89, 1);
  font-weight: 700;
  font-size: 24px;
}

.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 368px;
}
