.brain-container {
  background-color: rgba(255, 178, 30, 0.1);
  display: flex;
  max-width: 288px;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 16px;
  border-radius: 12px;
  gap: 88px;
}
