* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background-color: #ecf2ff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

@media only screen and (max-width: 750px) {
  body {
    align-items: flex-start;
  }
}
